name: Tenant Snapshot
on:
  workflow_dispatch:
    inputs:
      draft:
        description: '(Optional) Draft handling - SKIP (default value if empty), ADD, ERROR'
        required: false
      message:
        description: '(Optional) Commit message'
        required: false
jobs:
  take_snapshot:
    runs-on: ubuntu-latest
    container:
      image: engswee/flashpipe:3.0.0

    steps:
      - uses: actions/checkout@v4

      - name: 'Take a snapshot'
        uses: engswee/flashpipe-action/snapshot@v1
        with:
          tmn-host: equaliseit.it-cpi023.cfapps.eu20-001.hana.ondemand.com
          oauth-host: equaliseit.authentication.eu20.hana.ondemand.com
          oauth-clientid: ${{ secrets.DEV_CLIENT_ID }}
          oauth-clientsecret: ${{ secrets.DEV_CLIENT_SECRET }}
          draft-handling: ${{ github.event.inputs.draft }}
          git-commit-msg: ${{ github.event.inputs.message }}
